.container {
    padding-top: 15px;
    border-radius: 20px;
    border-color: black;
    border: 2px solid ;
    width: 500px;
    margin-left: 50px;
}

.img {
 border-radius: 50%;
 background-color: rgb(53, 48, 48);  
margin: 0 auto;
display: block;

}

.name {
    font-size: 40px;
text-align: center;
font-weight: 700;
margin: 0;
}

.tag {
    font-size: 20px;
    text-align: center;
    margin: 0;

}

.location {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.list {
list-style: none;
display: flex;
padding: 0;
justify-content: center;
margin: 0;
}

.item {
display: flex;
text-align: center;
width: calc(100% / 3);
flex-direction: column;
    border: 1px solid rgb(173, 170, 170);
padding-left: 20px;
padding-right: 20px;
background-color: rgb(226, 221, 221);
color: black;
font-size: 20px;
}

.item:last-child {
    border-end-end-radius: 20px;
    
  }
  
  .item:first-child {
    border-end-start-radius: 20px;
  }

.span {
font-weight: 500;
}