.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
   
    width: 100%;
}

.item {
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #000;
    font-weight: 500;
}